.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border: 2px solid white; */
  box-sizing: border-box;
  padding: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border: 2px solid white; */
  box-sizing: border-box;
  padding: 5px;
}