.stepperContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px 5%;
  color:white;
}

.stepperButtonBack {
  cursor: pointer;
}

.stepperButtonContainer {
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stepperButtonNext {
  cursor: pointer;
}

.stepperExtended {
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}

.accordionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
}

.accordionHeader {
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
}

.dropdownHeader {
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  text-align: center;
}
.dropdownHeader h1 {
  font-size: 20px;
}

.dropdownBody {
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  text-align: justify;
}

.dropdownBody h1 {
  font-size: 18px;
}

.dropdownBody li {
  font-size: 15px;
}

.dropdownBodyOption {
  background-color: black;
  color: white;
}

.dropdownBodySelectedOption {
  background-color: blue;
  color: white;
}

.dropdownBodyDisabledOption {
  background-color: gray;
  color: white;
}