.stepperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 200px;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
  color:white;
}

.stepperButtonBack {}

.stepperButtonContainer {
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}

.stepperButtonNext {}

.accordionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 200px;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
}

.accordionHeader {
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
}

.dropdownHeader {
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  text-align: center;
}
.dropdownHeader h1 {
  font-size: 20px;
}

.dropdownBody {
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  text-align: justify;
}

