.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 10px;
  
  /* The image used */
  background-image: url("images/backgrounds/nick-nice-dfvyCHzbA5g-unsplash.jpg");
  
  /* Full screen height and width */
  position:fixed;
  width: 100%;
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}