.container {
  display: flex;
  width: 100%;
  color: white;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  box-sizing: border-box;
  margin: 5px;
}

.centerGroup {
  display: flex;
  flex-direction: row; 
  align-items: center;
  color: whitesmoke;
}

.logo {
  width: 5em;
  /* svg on an img tag */
  -webkit-filter: invert(.75); /* safari 6.0 - 9.0 */
  filter: invert(.75);
  
  border: 2px solid white;
  /* box-sizing: border-box; */
  padding: 20px;


}